<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>New Message</h1>
    <form action="/new-message" method="POST">
        <label for="title">Title</label>
        <input name="title" placeholder="title" type="text" />
        <label for="message">Message</label>
        <input name="message" type="text" />
        <button>Send</button>
    </form>
</body>
</html>
